[Desktop Entry]
Version=1.0
Type=Application
Name=Outfit
GenericName=Omarchy Plugin Manager
Comment=Discover, browse, install, and manage Omarchy plugins
Exec=omarchy-shell shell summon io.github.ctl0v0.omafit
TryExec=omarchy-shell
Icon=io.github.ctl0v0.omafit
Terminal=false
StartupNotify=false
Categories=Settings;
Keywords=Omarchy;plugins;plugin manager;marketplace;discover;extensions;setup;
X-Outfit-Managed=true
